header {
    font-family: 'Cabin Condensed', sans-serif;
    background-color: #0E171A;
    color: #FAFAFA;
    padding: 20% 0%;
}

header p {
    font-size: .65em;
    letter-spacing: 1.5px;
    padding-top: 10%;
}

header h1 {
    font-size: 3em;
    font-weight: 600;
}

header a {
    color: #FAFAFA;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

h2, h3, h4 {
    font-weight: 700;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
    text-transform: uppercase;
}

h4 {
    font-size: 1.25em;
    color:#b2322d;
    text-align: center;
    margin-top: 10%;
}

div {
    margin-top: 8%;
}

a {
    color: #0E171A;
    text-decoration-color: #b2322d;
}

a:hover {
    color:#b2322d;
}

b {
    background-color: #b2322d;
    color:#FAFAFA;
    letter-spacing: 1px;
    padding: 0 2%;
    font-weight: 700;
}

iframe {
    padding: 5% 0%;
}

.timeline {
    font-family: 'Cabin Condensed', sans-serif;
    font-size: .95em;
    border-left: 3px solid #b2322d;
    padding-left: 3%;
}

.timeline p{
    font-family: 'Cabin Condensed', sans-serif;
    font-size: .95em;
}

.centered {
    text-align: center;
}

@media screen and (max-width: 480px) {
    h1 {
        text-align: center;
    }
    header p {
        text-align: center;
    }
    header {
        padding: 40% 0%;
    }
}