header {
    font-family: 'Noto Sans', sans-serif;
    background-color: #3450A0;
    color: #E2E2E2;
    font-size: 1.5em;
}

body {
    background-color: #D1E6FF;
    color: #707070;
    font-family: 'Lora', serif;
}

nav{
    padding: 1.2%;
}

nav h1{
    padding: 0 .75em;
    font-size: .75em;
    font-weight: 300;
    margin: 0;
}

.nav-link{
    display: inline;
    color: #E2E2E2;
    font-weight: 300;
    padding: 0 .75em;
    font-size: .75em;
}

.nav-link:hover {
    color:black;
}

.subheading {
    background-color: #3450A0;
    color: #E2E2E2;
    padding: 6%;
    font-weight: 100;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.leftsubheading {
    background-color: #3450A0;
    color: #E2E2E2;
    padding: 3%;
    font-weight: 100;
    align-items: center;
    justify-content: center;
}

.abouttext {
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 200;
}

.caption{
    padding: 5% 0%;
}

.about {
    padding: 0% 5%
}

.aboutimg {
    padding: 0% 0% 0% 5%
}

.card-title {
    font-weight: 700;
}

.card-text {
    font-size: .9em;
}

.phototitle {
    font-size: 1.5em;
}

.btn {
    background-color: #3450A0;
    color: #E2E2E2;
    font-family: 'Noto Sans', sans-serif;
    font-size: 160%;
    padding: 1.5% 4%;
}

.btn:hover {
    background-color: black;
}

.bi {
    color: #3450A0;
    font-size: 1.5em;
    letter-spacing: .2em;
}

.bi:hover {
    color: black;
}

footer {
    text-align: center;
    padding-top: 10%;
    font-size: 1.5em;
}




/* How do I get "marissa yelenik" to the left? */
/* How to make all articles, pictures the same size */
/* Design on contact page?  */