body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

h1{
    color: rgb(158, 16, 16);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

h2{
    color: rgb(255, 242, 0);
    background-color: rgb(0, 0, 0);
}

p{
    padding: 1%;
    line-height: 1.25;
}

#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}